
	<div class="container-fluid">
		<center><h2 class="thin-font insta-title">Choose your model</h2></center>
		<div class="row" id="choose-row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-sm-4">
						<a href="orders/new?model=iPhone%205/5s" class="create-case">
							<div class="btn select-model">
								<h4>iPhone 5/5s</h4>
								<img src="/images/iphone5.jpg" id="iphone5">
							</div>
						</a>
						
					</div>

					<div class="col-sm-4">
						<a href="orders/new?model=iPhone%205c" class="create-case">
							<div class="btn select-model">
								<h4>iPhone 5c</h4>
								<img src="/images/iphone5c.jpg" id="iphone5c">
							</div>
						</a>
						
					</div>
					<div class="col-sm-4">
						<a href="orders/new?model=iPhone%204" class="create-case">
							<div class="btn select-model">
								<h4>iPhone 4/4s</h4>
								<img src="/images/iphone4.jpg" id="iphone4">
							</div>
						</a>
					</div>


				</div>
			</div>
			
		</div>
		<br>
		<br>
		<br>
		<br>
	</div>

