
	<div class="container-fluid">
		<br><br>
		<center><h2 class="thin-font insta-title">Thank you for your order!</h2>
		

		<h4 class="darkgray">Your order is confirmed and should be arriving within 7-10 days. You'll soon be receiving a confirmation email.</h4>

		<br><br>
		
		<div class="row" id="home-buttons">
			<div class="col-md-12">
				<a href="/choose">
					<div class="btn btn-block large-button btn-primary">
						Create another case <i class="fa fa-flask"></i>
					</div>
				</a>
			</div>
		</div>

		</center>


		<br>
		<br>
		<br>
		<br>
	</div>

