	<div id="insta-footer">
		<div class="row" id="footer-company">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-5 col-sm-2">
						<h5>© MerchJoy 2013</h5>
					</div>
					<div class="hidden-on-mobile">
						<div class="col-xs-2">
							<a href="#"><h5>About</h5></a>
						</div>
						<div class="col-xs-2">
							<a href="mailto:enterprise@casehappy.com"><h5>Documentation</h5></a>
						</div>
					</div>
					<div class="col-xs-7 col-sm-6">
						<!--a href="#"><h5>
							<a href="https://twitter.com/share" class="twitter-share-button" data-text="Custom cases for iPhone 5/5s for only $10" data-via="DeliciousCases" data-size="large">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</h5></a-->
						<div class="pull-right" id="social-icons">
				      <a href="#"><img src="/images/icon-facebook.svg"></a>
				      <a href="#"><img src="/images/icon-twitter.svg"></a>
				      <!--a href="#"><img src="/images/icon-linkedin.svg"></a-->
			      </div>
					</div>

				</div>
			</div>
		</div>
			
	</div>