<ul class="nav navbar-nav navbar-right">
  <li> <a href="/stores/<%= @store.id %>" class="CTA-link">Demo Account</a> </li>
  <li> <a href="/stores/preview/<%= @store.id %>" style="color:#222; font-weight:700;">Preview Store</a></li>
</ul>